body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-image: url('https://i.pinimg.com/originals/3f/e3/25/3fe325a2f73650c242de5442b82ecadd.png');
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  padding: 15px 20px;
  justify-content: space-between;
}

.trybewarts-login {
  display: flex;
  gap: 10px;
  height: 30px;
  align-self: center;
}

main {
  padding: 2rem 20px;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 10px;
  background-color: rgba(175, 132, 62, 0.575);
  padding: 2rem;
  border-radius: 6px;
  width: 675px;
}

#trybewarts-forms-logo {
  height: 500px;
  display: flex;
  order: 1;
  align-self: center;
}

#box-label-family {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#box-label-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.result {
  display: flex;
  flex-direction: column;
  order: 0;
}

.trybewarts-header-logo {
  width: 40px;
}

#trybewarts-header-title {
  color: white;
  font-family: Harry Potter, sans-serif;
  font-weight: 200;
  margin: 0;
}

#button-login {
  padding: 5px;
  width: 70px;
  border-radius: 6px;
  border: none;
}

#email-login {
  padding: 5px;
  border-radius: 6px;
  border: none;
}

#password-login {
  padding: 5px;
  border-radius: 6px;
  border: none;
}

#form-title {
  text-align: center;
  font-family: Harry Potter, sans-serif;
  margin-bottom: 25px;
  margin-top: none;
  padding: none;
}

#box-name {
  display: flex;
  gap: 5px;
}

#input-name {
  padding: 5px;
  border-radius: 6px;
  flex-grow: 4;
  border: none;
}

#input-lastname {
  padding: 5px;
  border-radius: 6px;
  flex-grow: 4;
  border: none;
}

#box-email {
  display: flex;
  gap: 5px;
  border-bottom: 1px solid black;
  padding-bottom: 20px;
}

#input-email {
  padding: 5px;
  border-radius: 6px;
  flex-grow: 1;
  border: none;
  background-color: white;
}

#house {
  padding: 5px;
  border-radius: 6px;
  flex-grow: 1;
  border: none;
  background-color: white;
}

#content {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 1px solid black;
}

#box-label {
  display: flex;
  flex-direction: column;
}

#first {
  display: flex;
  gap: 20px;
}

#second {
  display: flex;
  gap: 20px;
}

.label-family {
  display: flex;
  align-items: baseline;
}

#box-label-rate {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

#label-rate {
  padding-right: 6px;
}

#submit-btn {
  width: 100%;
  padding: 5px;
  border-radius: 6px;
  border: none;
}

footer {
  background-color: rgb(228, 173, 82);
  display: flex;
  justify-content: center;
}

#textarea {
  border: none;
  border-radius: 6px;
}

#review-box {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  gap: 15px;
}

#submit-box {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#submit-check {
  display: flex;
  justify-content: space-between;
}
